@charset "UTF-8";

.wrapper {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*************/

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon-menu {
  display: none;
}

.header {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../img/work-img.jpg");
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/work-img.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/work-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  margin-top: 220px;
  text-align: center;
}

.header__menu {
  height: 100px;
  position: relative;
}

.header__content-smtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.header__content-bigtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.header__content-btn {
  -webkit-transition: ease-in-out transform .5s;
  -o-transition: ease-in-out transform .5s;
  transition: ease-in-out transform .5s;
  -webkit-animation: 1s ease-in-out 0s infinite jump;
          animation: 1s ease-in-out 0s infinite jump;
}

.header__content-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__content-btn._active {
  display: none;
}

.btn {
  position: relative;
  top: 0;
  left: 0;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 36px;
  max-width: 200px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

@-webkit-keyframes jump {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

@keyframes jump {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

.menu {
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.menu__body {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.menu__list li {
  margin-right: 40px;
}

.menu__list li:last-child {
  margin-right: 0;
}

.menu__link {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #FFFFFF;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu__link::after {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  content: '';
  position: absolute;
  width: 110%;
  height: 2px;
  top: 57px;
  left: -3px;
  background: #FFFFFF;
}

.menu__link:hover::after {
  opacity: 1;
}

.services {
  margin-top: 110px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 50px;
  text-align: center;
}

.services__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 70px;
  text-align: center;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 84px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 62px 0 0;
}

.services__item-img {
  position: relative;
  margin-right: 52px;
  margin-top: 35px;
}

.services__item-img:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(-3%, 30%);
      -ms-transform: translate(-3%, 30%);
          transform: translate(-3%, 30%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #4985FF;
}

.services__item-img:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(-12%, 15%);
      -ms-transform: translate(-12%, 15%);
          transform: translate(-12%, 15%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
}

.services__item-content {
  padding-top: 46px;
}

.services__item-content_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.services__item-content_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.services__btn {
  width: 200px;
  margin-bottom: 105px;
}

.standarts {
  background: #F6F6F8;
  padding-bottom: 70px;
  padding-top: 100px;
}

.standarts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 90px;
  margin-bottom: 70px;
  border-bottom: 1px solid #E0E0E0;
}

.standarts__text {
  margin-top: 52px;
  padding-right: 121px;
}

.standarts__text-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 40px;
}

.standarts__text-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}

.standarts__text-link a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #4985FF;
}

.standarts__img img {
  width: 500px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.standarts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.standarts__item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standarts__item-main_number {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.standarts__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  text-align: center;
}

.works__body {
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: -o-linear-gradient(left, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  height: 490px;
}

.works__container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__container-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
}

.works__container-btn {
  width: 200px;
}

.works__content {
  margin-top: -202px;
  margin-bottom: 85px;
}

.works__items {
  padding-bottom: 85px;
  border-bottom: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__item {
  -webkit-box-shadow: 0px 15px 27px -5px rgba(26, 32, 44, 0.12), 0px -2px 18px -5px rgba(26, 32, 44, 0.04);
          box-shadow: 0px 15px 27px -5px rgba(26, 32, 44, 0.12), 0px -2px 18px -5px rgba(26, 32, 44, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  padding-bottom: 10px;
}

.works__item:last-child {
  margin-right: 0;
}

.works__item-img {
  margin-bottom: 30px;
}

.works__item-img img {
  width: 100%;
  border-radius: 10px;
}

.works__item-title {
  padding: 0 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 30px;
}

.works__item-title span {
  color: #4985FF;
}

.works__item-text {
  padding: 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}

.works__item-link {
  padding: 0 20px;
}

.works__item-link a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #4985FF;
}

.projects {
  background: #F6F6F8;
}

.projects__container {
  padding-top: 100px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projects__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-bottom: 50px;
}

.projects__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 70px;
}

.projects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.projects__item {
  margin-right: 30px;
}

.projects__item:last-child {
  margin-right: 0;
}

.projects__item img {
  width: 255px;
  height: 255px;
  border-radius: 10px;
  max-width: 100%;
}

.projects__btn {
  width: 200px;
}

.video {
  width: 100%;
  height: 570px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../img/work-img.jpg");
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/work-img.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/work-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.video__container {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.video__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.video__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.video__video iframe {
  width: 970px;
  height: 430px;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 10px;
}

.form {
  padding-top: 165px;
  padding-bottom: 85px;
}

.form__container {
  border-top: 1px solid #E0E0E0;
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
}

.form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 35px;
}

.form__wrapper input {
  width: 300px;
  padding: 15px 0 13px 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
}

.form__wrapper label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 36px 15px 26px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
}

.second {
  margin-bottom: 0;
}

.footer {
  background: #F6F6F8;
}

.footer__content {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.footer__list li {
  margin-bottom: 30px;
}

.footer__list li:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 35px;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__link object {
  margin-right: 15px;
}

.footer__copyright {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #E0E0E0;
}

@media (min-width: 768px) {
  .form__wrapper label:hover {
    cursor: pointer;
  }

  .footer__link:hover {
    color: black;
  }
}

@media (max-width: 768px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .menu__body._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu__body._active::before {
    position: absolute;
    width: 100vw;
    content: "";
    height: 100vh;
    top: 0;
    left: 0;
    background: lightblue;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__list li {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .menu__list {
    position: relative;
    top: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 28px;
  }

  .services__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .services__item-img:after {
    top: -75%;
  }

  .services__item-img:before {
    top: -75%;
  }

  .services__item-img {
    margin-left: 35px;
  }

  .standarts {
    padding-top: 50px;
  }

  .standarts__text {
    margin-top: 0;
    margin-right: 50px;
    padding-right: 0;
  }

  .standarts__img img {
    width: 100%;
    height: auto;
  }

  .works__content {
    margin-top: -100px;
  }

  .works__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .works__item:last-child {
    margin-bottom: 0;
  }

  .works__item-title {
    padding: 0 30px;
  }

  .works__item-text {
    padding: 0 30px;
  }

  .works__item-link {
    padding: 0 30px;
    padding-bottom: 25px;
  }

  .projects__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .projects__item {
    margin-bottom: 40px;
  }

  .projects__item:nth-child(2n) {
    margin-right: 0;
  }

  .video__video iframe {
    width: 500px;
    height: 221px;
  }

  .form {
    padding-top: 80px;
  }

  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__list {
    width: 50%;
  }
}

@media (max-width: 475px) {
  .header__container {
    margin-top: 100px;
  }

  .header__menu {
    height: 80px;
  }

  .header__content-bigtitle {
    font-size: 36px;
  }

  .menu__list {
    top: 100px;
  }

  .services {
    margin-top: 50px;
  }

  .services__items {
    margin-bottom: 40px;
  }

  .services__item {
    padding-right: 0;
  }

  .services__item-img:after {
    top: -50%;
  }

  .services__item-img:before {
    top: -50%;
  }

  .services__btn {
    margin-bottom: 50px;
  }

  .standarts__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .standarts__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
    margin-top: 20px;
  }

  .standarts__text-title {
    font-size: 30px;
  }

  .standarts__text-link a {
    text-align: center;
  }

  .standarts__text-link {
    text-align: center;
  }

  .standarts__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .works__container-title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projects__container {
    padding-top: 50px;
  }

  .projects__item {
    margin-right: 0;
  }

  .projects__item:last-child {
    margin-right: 0;
  }

  .video {
    height: 480px;
  }

  .video__video iframe {
    width: 300px;
    height: 132px;
  }

  .form__wrapper input {
    width: 150px;
  }

  .footer__info {
    margin-bottom: 20px;
  }

  .footer__list {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .header__container {
    margin-top: 50px;
  }

  .header__content-bigtitle {
    font-size: 30px;
  }

  .services__title {
    font-size: 28px;
  }

  .services__item-img:after {
    top: -35%;
  }

  .services__item-img:before {
    top: -35%;
  }

  .standarts__text-title {
    text-align: center;
  }

  .standarts__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .works__container-title {
    font-size: 28px;
    text-align: center;
  }

  .form__wrapper label {
    padding: 13px 20px 15px 20px;
    font-size: 14px;
  }
}